<ul>
<div class="student-wrapper">

  <% @students.each do |student| %>
    <li>
      <div class="student">
        <a href="/students/<%= student.id %>">
          <%= student.format_name %>
        </a>
      </div>
    </li>
  <% end %>

</div>
</ul>
