

  <form class="" action="/students" method="post">
<div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name: </label>
      <input id="first_name" type="text" name="first_name" />
    </div>

    <div class="form-el">
      <label for="last_name">First Name: </label>
      <input id="last_name" type="text" name="last_name" />
    </div>

    <div class="form-el">
      <label for="age">Age: </label>
      <input id="age" type="integer" name="age" />
    </div>

    <div class="form-el">
      <label for="house_select">Select House: </label>
      <select name="house_id" id="house_select"><% @houses.each do |house| %>
        <option value=<%= house.id %>> <%= house.name.capitalize %> </option>
      <% end %>
      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Register Now" />
    </div>
</div>
</form>
